.modal {
  position: fixed;       
  top: 0; left: 0;       
  width: 100vw;
  height: 100vh;       
  background: #0000004D;
  display: flex;         
  justify-content: center;
  align-items: center;    
}

.modal-wrapper {
	width: 30%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
}

/* //////////MODALS//////// */
.modal-close {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
}

.modal-separator {
	height: 1px;
	width: 66%;
	background-color: #B3B3B3;
	position: absolute;
	bottom: 115px;
}

/* /////////GALLERY VIEW/////////// */
.modal-gallery-view {
    background: white;     
  padding: 20px 100px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;	
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-gallery-view h1 {
	margin-top: 30px;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 400;
}

.modal-gallery {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 50px ;
  margin-bottom: 50px;
  width: 100%;
  justify-content: center;
}

.modal-gallery figure {
	width: 100%;
	position: relative;
}

.gallery-img {
	width: 100%;
 height: 100%;
}

.trash-icon {
	position: absolute;
	width: 17px;
	height: 17px;
	cursor: pointer;
	left: 46px;
	object-fit: contain;
}

.modal-footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

#add-photo-btn {
	background-color: #1D6154;
	color: white;
	border-radius: 60px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	height: 36px;
	width: 40%;
	position: absolute;
	bottom: 50px;
}


/* /////////FORM VIEW/////////// */
.modal-form-view {
  background: white;     
  padding: 20px 100px;
  border-radius: 10px;
  width: 100%;
  height: 94%;
  position: relative;	
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-form-view h2 {
  font-size: 22px;
	margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
  font-weight: 400;
}

.form-group-add {
  background-color: #E8F1F6;
}

.upload-icon {
  width: 16%;
  margin: 0;
}

#image { 
  display: none;
}

.upload-placeholder.hidden {
  display: none;
}

 .upload-placeholder {
  width: 100%;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 40px ;
  gap: 10px;
 }

 .upload-label {
  background-color: #CBD6DC;
  width: 35%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  color: #306685;
  cursor: pointer;
}

.upload-hint {
  font-size: 10px;
}

.modal-back {
	cursor: pointer;
	user-select: none;
  margin-left: -70px;
}

.upload-preview {
  width: 100%;
  justify-content: center;
  display: none;
  height: 190px;
}

.upload-preview.visible {
  display: flex;
}

.preview-img {
  width: 25%;
}

.form-group {
	display: flex;
	flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

#title {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  background-color: white;
  height: 50px;
}

#category {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  background-color: white;
  height: 50px;
}

.form-footer {
  display: flex;
  justify-content: center;
}

#submit-project {
  background-color: #A7A7A7;
  color: white;
  border-radius: 60px;
  border: none;
  cursor: not-allowed;
  font-size: 14px;
  height: 36px;
  width: 40%;
  position: absolute;
  bottom: 55px;
}

#submit-project.active {
  background-color: #1D6154;
  cursor: pointer;
}

.hidden {
  display: none;
}





































